{% extends 'mysite/base.html' %}

{% block body %}

{% for post in posts %}
    <div class="posts">
    <article>
        <form method="post">
        {% csrf_token %}
        <img class="post_image" width=400 src={{post.cover_image.url}}></img>
        <h2 name="post_artist" class="post_artist">{{ post.artist }}</h2>
        <p class="post_content">{{ post.content|linebreaksbr }}</p>
        <button class="like">Like</button>
        <button onclick="location.href='{% url "donate" %}'" class="donate">Donate</button>
        <br></br>
        <br></br>
            <div>
            <textarea class="article_comments" name="comment" placeholder="Add a comment..." id="comments"></textarea>
            </div>
            <input class="comment_submit" type="submit" value="Submit">
        </form>
        <div>
        
        <section id="comments">
            <ul style="list-style-type:none;padding-left:0px;padding-top:50px;margin:0;">
                {% for comment in comments%}
                <li style="padding-top:20px;"><a style="font-weight:bold;pointer-events: none;color:black;">{{comment.user_id}}  </a><a style="pointer-events: none;color:black;">{{comment.comment}}</a><a style="pointer-events: none;color:black;float:right;">{{comment.published_on}}</a></li>
                {% endfor %}
            </ul>
        </section>
    </div>

    </article>
</div>
{% endfor %}

{% endblock body %}