{% extends 'mysite/base.html' %}

{% block body %}

{% for article in articles %}
    <div class="article">
    <article>
        <h2 class="article_title">{{ article.title }}</h2>
        <time class="article_time">published: {{ article.published_on }}</time>
        <br></br>
        <img class="article_image" src={{article.cover_image.url}} width=400></img>
        <p class="article_content">{{ article.content|linebreaksbr }}</p>
        <br></br>
        <form  action="/html/tags/html_form_tag_action.cfm" method="post">
            <div>
            <textarea class="article_comments" style="width:90%; float:left;" placeholder="Add a comment..." id="comments"></textarea>
            </div>
            <input class="comment_submit" type="submit" value="Submit">
            </form>

    </article>
</div>
{% endfor %}

{% endblock body %}
